.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://png.pngtree.com/back_origin_pic/04/50/96/d0b4cc7206c2d1806c63ea68c6687c1a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Your Custom Font', sans-serif;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label, select {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
